<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect all requests to the public folder
    RewriteCond %{REQUEST_URI} !^/ikizamini/public/
    RewriteRule ^(.*)$ /ikizamini/public/$1 [L]
</IfModule>
